<div>
    <img id="profile" src="../../assets/profile.jpg">
    <!-- <h1>{{loggedIn.firstName}} {{loggedIn.lastName}}</h1> -->
    <h1>Bojan Markovic</h1>
</div>

<nav mat-tab-nav-bar>
    <a mat-tab-link [href]="link" *ngFor="let link of links; let i=index" (click)="activeLink = link"
        [active]="activeLink == link">
        {{linkNames[i]}} </a>
</nav>

<div>
    <mat-card>
        <form>
            <table>
                <tr>
                    <td>
                        <mat-form-field>
                            <!-- <mat-label>Izaberite sport</mat-label> -->
                            <mat-select placeholder="Izaberite sport" name="chosenSport" [(ngModel)]='chosenSport'>
                                <mat-option *ngFor="let s of allSports" [value]="s" (click)="chooseSport()">
                                    {{s.sportName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field>
                            <!-- <mat-label>Izaberite sportski objektat</mat-label> -->
                            <mat-select placeholder="Izaberite sportski objektat" name="chosenPlace"
                                [(ngModel)]='chosenPlace'>
                                <mat-option *ngFor="let p of sportPlaces" [value]="p">
                                    {{p.placeName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>

                    <td>
                        <mat-form-field>
                            <input required matInput placeholder="Datum" type="date" name="date" [(ngModel)]='date'>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>

                    <td>
                        <mat-form-field>
                            <input required matInput placeholder="Vreme" type="text" name="time" [(ngModel)]='time'>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button class="dugme" mat-raised-button color="accent" (click)="checkAvailability()">
                            Provera dostupnosti
                        </button>
                    </td>
                </tr>
            </table>
        </form>
    </mat-card>
</div>


<!-- 
<div>
    <form>
        <table>
            <tr>
                <td>Izaberite sport koji zelite da igrate:</td>
                <td>
                    <select name="sport" [(ngModel)]='sport'>
                        <option *ngFor="let s of allSports" value="{{s.sportName}}" (click)="chooseSport()">
                            {{s.sportName}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Izaberite mesto:
                </td>
                <td>
                    <select name="place" [(ngModel)]='place'>
                        <option *ngFor="let p of sportPlaces" value="{{p.placeName}}">{{p.placeName}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Izaberite datum:</td>
                <td>
                    <input type="date" name="date" [(ngModel)]='date'>
                </td>
            </tr>
            <tr>
                <td>Izaberite vreme (izmedju 9h i 21h):</td>
                <td>
                    <input type="text" name="time" [(ngModel)]='time'>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button (click)="checkAvailability()">Provera dostupnosti</button>
                </td>
            </tr>
        </table>
    </form>
</div>

<div *ngIf="teamChosen">
    <form>
        <table>
            <tr>
                <td>Pretraga prijatelja:</td>
                <td>
                    <input type="text" name="friendSearch" [(ngModel)]='friendSearch'>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button (click)="searchFriend()">Pretraga</button>
                </td>
            </tr>
            <tr>
                <td>
                    <select name="chosenFriend" [(ngModel)]='chosenFriend'>
                        <option *ngFor="let f of friends" value="{{f.email}}">{{f.firstName}} {{f.lastName}}</option>
                    </select>
                </td>
            </tr>
        </table>
    </form>
</div>

<div *ngIf="chooseTeamAndPositionShow">
    <form>
        <table>
            <th>Position</th>
            <th>Player</th>
            <th>Action</th>
            <tr>Team 1</tr>
            <tr *ngFor="let p of timeslot.t1">
                <td>{{p.position}}</td>
                <td *ngIf="p.player">{{p.player}}</td>
                <div *ngIf="!(p.player) && !teamChosen">
                    <td>Available</td>
                    <td>
                        <button (click)="chooseTeamAndPosition(p)">Izaberi</button>
                    </td>
                </div>
                <div *ngIf="!(p.player) && teamChosen">
                    <td>Available</td>
                    <td>
                        <button (click)="inviteSelectedFriend(p)">Pozovi</button>
                    </td>
                </div>
            </tr>
            <tr>Team 2</tr>
            <tr *ngFor="let p of timeslot.t2">
                <td>{{p.position}}</td>
                <td *ngIf="p.player">{{p.player}}</td>
                <div *ngIf="!(p.player) && !teamChosen">
                    <td>Available</td>
                    <td>
                        <button (click)="chooseTeamAndPosition(p)">Izaberi</button>
                    </td>
                </div>
                <div *ngIf="!(p.player) && teamChosen">
                    <td>Available</td>
                    <td>
                        <button (click)="inviteSelectedFriend(p)">Pozovi</button>
                    </td>
                </div>
            </tr>
            <div *ngIf="teamChosen">
                <tr>
                    <button (click)="removeSelfFromTeam()">Izbaci me iz tima</button>
                </tr>
            </div>
            <tr>
                <button (click)="reserveSlot()">Prijavi termin</button>
            </tr>
        </table>
    </form>
</div> -->