.dugme {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
}

mat-card {
    margin: auto;
    width: 20%;
    margin-top: 5rem;
    background-color: ghostwhite;
}

mat-form-field {
    width: 100%;
    text-align: center;
}

table {
    width: 25%;
    margin: auto;
}

div {
    margin: auto;
    text-align: center;
}